<table align="center" cellspacing="0" border="3" cellpadding="3">
         <tr> 
            <th colspan="2" cellpadding="10" >KARTU MAHASISWA</th>
        </tr>
        <tr>
            <td rowspan="6">
                <img src=gambar.jpg width="120"/>
            </td>
        </tr>
        <tr>  
           <td><b>Ronggo Surya Alfawwaz</b></td>
        </tr>
        <tr>
            <td>Fakultas Teknologi Industri</td>
        </tr>
        <tr>
            <td>Teknik Informatika</td>
        </tr>
        <tr>
            <td>Jalan Soekarno Hatta, Mulyojati 16c, Kota Metro, lampung</td>
        </tr>
        <tr>
            <td>Ronggo Surya Alfawwaz</td>
        </tr>
    </table>