<p><b>Gitlab</b> adalah sebuah manajer <i>repositori</i> 
Git berbasis web dengan fitur wiki dan <u>pelacakan masalah, 
menggunakan lisensi sumber terbuka, dikembangkan oleh</u> <b><i><u>GitLab Inc.</b></i></u></p>