<p>
	TAG gambar (image)
</p>

<img src="gambar.jpg" align="left" width="100" />
Perkenalkan, Nama Saya Ronggo Surya Alfawwaz ini adalah homepage pertama saya,</br>karena saya baru belajar tentang membuat hompage
hompage ini masih dalam tahap pengembangan, </br>oleh karena itu
tampilannya masih terlalu sederhana
</br>
Saya akan berusaha untuk <img src="logouad.png" width="100" /> terus memperbaiki homepage saya ini, sehingga semakin lama semakin menarik.
</br>
</br>
<p>
	TAG LINK ANCHOR(TEKS)
</p>
Saya ingin melihat <a href="hal2.html">halaman selanjutnya</a> Saya ingin langsung menuju  ke <a href="hal2.html#akhir">bagian akhir</a> saya ingin menuju ke <a href=hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br/>
<a href="http://www.detik.com"><img src="detik.gif" /></a> Homepage detik.com <br/> ini bagian tengah.<br/><a name="akhir"> ini bagian akhir.</a>
</br>
</br>

<p>
	TAG LINK ANCHOR(GAMBAR)
</p>
<a href="http://www.elearning.uad.ac.id"><img src="elearning.png"</a>
</br>
</br>

<p>
	TAG LINK ANCHOR(EMAIL)
</p>
<a href=mailto:ronggo2000018371@webmail.uad.ac.id>email saya</a>