<body>
	<h4>Nama  : Ronggo Surya Alfawwaz</h4>
	<h4>Kelas : G</h4>
	<h4>Nim   : 2000018371</h4>
</body>

<p>
	Ini adalah homepage pertama
	saya, karena saya baru belajar
	tentang cara membuat homepage.
</p>

<p>Homepage ini masih dalam tahap pengembangan,oleh karena 
itu tampilannya masih terlalu sederhana.</p><p>Saya akann terus berusaha untuk memperbaiki
homepage saya ini, sehingga semakin lama semakin menarik.